@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=DM+Sans:wght@400;700&display=swap');

.App {
  text-align: left;
  font-family: 'Arimo', sans-serif;
  /* --bs-light: #ffb58a;
  --bs-dark: #ff0065;
  --bs-primary: #ffb58a;
  --bs-secondary: #ff0065; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}

body{
  margin: 0;
  padding: 0;
  background-image: none;
}

.App-link {
  color: #61dafb;
}
/* #ffb58a, #ff0065 */
/* // $theme-colors: (
//   "Primary": #ffb58a,
//   "danger": #ff0065
// ); */

.allContent{
  margin: 43px;
}

.pageHeading{
  font-size: 43px;
}

@import 'bootstrap/dist/css/bootstrap.css';

/* Themes */

:root{
  --bs-light: #ffb58a;
  --bs-dark: #ff0065;
  --bs-primary: #ffb58a;
  --bs-secondary: #ff0065;
  --bs-light-rgb: 255, 181, 138;
  --bs-dark-rgb: 255, 0, 101;
  --bs-light-rgb: 255, 181, 138;
  --bs-dark-rgb: 255, 0, 101;
  --bs-light-rgba: 255, 181, 138, 0.5;
  --bs-dark-rgba: 255, 0, 101, 0.5;
  --bs-badge-color: #000;
}

.btn-dark{
  --bs-btn-bg: #ff0065;
  --bs-btn-border-color:var(--bs-btn-bg);
  --bs-btn-hover-bg: #ff83b4;
  --bs-btn-hover-border-color:var(--bs-btn-hover-bg);
}

.btn-primary{
  --bs-btn-bg: #ffb58a;
  --bs-btn-border-color:var(--bs-btn-bg);
  --bs-btn-hover-bg: #ffcdb0;
  --bs-btn-hover-border-color:var(--bs-btn-hover-bg);
}

.list-group-item.active {
  --bs-list-group-active-bg: var(--bs-dark);
  --bs-list-group-active-border-color: var(--bs-list-group-active-bg);
}
.bg-primary {
  --bs-bg-opacity: 0.7;
  background-color: rgba(245, 170, 130, var(--bs-bg-opacity)) !important;
}
/* .Badge.bg-primary{
    --bs-badge-color: #000;
} */

span.badge{
  --bs-badge-color: #000;
}