:root{
    --bs-light: #ffb58a;
    --bs-dark: #ff0065;
    --bs-primary: #ffb58a;
    --bs-secondary: #ff0065;
    --bs-light-rgb: 255, 181, 138;
    --bs-dark-rgb: 255, 0, 101;
    --bs-light-rgb: 255, 181, 138;
    --bs-dark-rgb: 255, 0, 101;
    --bs-light-rgba: 255, 181, 138, 0.5;
    --bs-dark-rgba: 255, 0, 101, 0.5;
}

body{
    font-size: 16px;
}

em{
    margin: 2px;
}

.titleBar{
    position: fixed;
}

.rounded{
    border-radius: 50%;
}

#profile-pic{
    width: 30vw;
    height: var(width);
    max-width: 258px;
    max-height: var(max-width);
    min-width: 220px;
    min-height: var(min-width);
    margin: 43px;
    margin-left: 0;
    border-radius: 50%;
}

.peoplePicker{
    max-height: 500px;
    margin-bottom: 10px;
    overflow:scroll;
}

.navbar-button-holder{
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 4vh;
    align-items: center;
    justify-items: flex-end;
    padding: 0px;
    justify-content: space-around;
}

.nav-item{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
    justify-self: flex-end;
    
}

em{
    font-weight: 700;
}

#nav-container{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to right, #ffb58a, #ff0065);
    display: flex;
    flex-direction: row;
    min-width: 100%;
    /* flex-wrap: wrap; */
}
.nav-bar{
    --bs-navbar-padding-y: 0px;
    /* position: fixed; */
}

#nav-branding{
 /* background-color: blue;    */
 align-self: center;
 justify-self: center;
}

#brand-container{
    /* min-width: 50vw; */
    display: flex;
    /* background-color: aqua; */
    align-self: flex-start;
}
#nav-branding:hover {
    color: white;
}


.profile-viewport{
    display: flex;
    flex-direction: row;
}

.skillsDisplay{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
}
.connectionsDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.allStatsDisplay{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.messagesHeader{
    margin-bottom: 5vh;
    margin-left: 1vw;
    margin-right: var(margin-left);

}

.messagesContainer {
    /***************************/
    background-color: #fff;
    border: 0.5px solid #e5e5ea;
    border-radius: 0.25rem;
    /***************************/
    display: flex;
    flex-direction: column-reverse;
    /* font-size: 16px; 0.7rem; */
    margin: 0 auto 1rem;
    max-width: 500px;
    padding: 0.5rem 1.5rem;
    align-items: flex-start;
    overflow: scroll;
    max-height: 60vh;
    min-height: 30vh;
  }
  
.messages {
    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 75%;
    padding: 0.5rem .875rem;
    position: relative;
    word-wrap: normal;
}
    
.sentMessages {
    align-self: flex-end;
    background-color: var(--bs-dark);
    color: #fff;
    margin: 0.5rem 0;
    width: fit-content; 
}

.recievedMessages {
    align-items: flex-start;
    background-color: #e5e5ea;
    color: #000;
    margin: 0.5rem 0;
    width: fit-content;
}

.personPickerBox{
    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 75%;
    padding: 0.5rem .875rem;
    position: relative;
    word-wrap: normal;
}

.alwaysPotrait{
    flex-direction: column;
    align-items: center;
}

.halfPageComponent{
    margin-left: 5vw;
    max-width: 100%;
    margin-right: 0;
}

/******************************* Dev mode toggle ****/
.devOnly{
    visibility: hidden;
}
/******************************* Dev mode toggle ****/

@media (max-width: 996px) {
    body{
        font-size: 13px;
    }
    .messagesHeader{
        margin-top: 5vh;
    }
    #nav-container{
        background-image: linear-gradient(to right, #ffb58a, #ff0065);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #brand-container{
        align-self: center;
        justify-self: center;
    }
    #nav-branding{
        margin-left: 25%;
    }
    .allStatsDisplay{
        flex-direction: column;
    }

    .profile-viewport{
        flex-direction: column;
    }
    #profile-pic{
        width: 75vw;
        height: var(width);
        max-width: 50%;
        max-height: var(max-width);
        min-width: 220px;
        min-height: var(min-width);
        margin: 43px;
        margin-left: 0;
        border-radius: 50%;
    }
    .skillsDisplay{
        flex-direction: column;
    }
    .messagesHeader{
        margin-bottom: auto;
        margin-left: none;
    }
    .messagesContainer {
        /* background-color: #fff;
        border: 1px solid #e5e5ea;
        border-radius: 0.25rem; */
        display: flex;
        font-size: 13px;
        margin: 0;
        /* max-width: 500px; */
        padding: 0.5rem 1.5rem;
        align-items: flex-start;
      }
}

@media (max-width: 500px) {
    body{
        font-size: 9px;
    }
    .messagesContainer {
        /* background-color: #fff;
        border: 1px solid #e5e5ea;
        border-radius: 0.25rem; */
        font-size: 9px;
        padding: 0;
        margin: none;
      }
    .messages{
        margin-left: 0;
        margin-right: 0;
    }
    .nav-bar{
        --bs-navbar-padding-y: 0px;
        /* font-size: smaller; */
        /* position: fixed; */
    }
    .nav-branding{
        /* font-size: smaller; */
        margin: 0;
        padding: 0;
        justify-self: flex-start;
    }
}